# Author: Benjamin Schmid

File>Import, "Huisken SPIM", huisken.opener.SPIM_Opener

Image>Color, "Advanced Color Merge", huisken.util.Advanced_Color_Merge

Plugins>Sphere Projection, "3D View", huisken.projection.viz.SphereProjectionViewer
Plugins>Sphere Projection, "Run Sphere Projection", huisken.projection.Spherical_Max_Projection
Plugins>Sphere Projection, "Create 2D Maps", huisken.projection.Map_Projection
Plugins>Sphere Projection, "Register Sphere Projections", huisken.projection.Register_
