# Author: Benjamin Schmid

File>Import, "Huisken SPIM", huisken.opener.SPIM_Opener

Image>Color, "Advanced Color Merge", huisken.util.Advanced_Color_Merge

Plugins>Sphere Projection, "3D View", huisken.projection.viz.SphereProjectionViewer
Plugins>Sphere Projection, "Fit Sphere", huisken.projection.Fit_Sphere
Plugins>Sphere Projection, "Run Sphere Projection", huisken.projection.Spherical_Max_Projection
Plugins>Sphere Projection, "Create 2D Maps", huisken.projection.Map_Projection
Plugins>Sphere Projection, "Register Sphere Projections", huisken.projection.Register_
Plugins>Sphere Projection, "RT Sphere Projection", huisken.projection.TwoCamera_MaxProjection
Plugins>Sphere Projection, "Resample Projection", huisken.projection.ResampleSMP
Plugins>Sphere Projection, "Combine Cameras", huisken.projection.TwoCameraFusion

Plugins>Sphere Projection>Test, "Simulated RT Sphere Projection", huisken.projection.test.Simulated_TwoCamera_MaxProjection


Plugins>Micha, "Roi Profiles", huisken.micha.Roi_Profiles

Huisken SPIM>, "Rename file", huisken.opener.Rename
Huisken SPIM>, "Copy SPIM Project", huisken.opener.Combine_SPIM_Projects
Huisken SPIM>, "Provide Image over Network", huisken.network.ImageProvider
Huisken SPIM>, "Retrieve Image over Network", huisken.network.ImageReceiver
Huisken SPIM>, "Network Andor Merge", huisken.various.DynamicColorMerge
Huisken SPIM>, "G13 Listener", huisken.various.G13Listener
